        .col-6 {
            width: 50%;
            float: left;
            padding: 40px;
        }
        
        .card {
            padding: 10px;
            background-color: lightgrey;
            box-shadow: 5px 7px #b9b6b6;
        }
		.text-card .text-left {
            float: left
        }

        .text-card .text-right {
            float: right;
        }

        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 2px;
            background-color: lightgrey;
            font-size: 18px;
        }